@import '../../assets/fonts/fonts';

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }
    &__title h1 {
        font-family: 'Permanent Marker', cursive;
        cursor: pointer;
    }
    &__btn {
        font-size: 20px;
        background-color: #fff;
        padding: 16px 40px;
        border: 1px solid $black;
        cursor: pointer;
    }
    &__btn:nth-child(2) {
        color: $white;
        background-color: $black;
        margin-left: 25px;
    }
    &__user {
        display: flex;
        align-items: center;

        &-list {
            display: flex;
        }
        &-item {
            
        }
    }
}